<p>Hi {{ organizer }},</p>
<p>Someone just subscribed to <strong>{{ meetupName }}</strong></p>
<p>
  Subscriber info: <br />
  <strong>Name:</strong> {{ subscriberName }} <br />
  <strong>Email:</strong> {{ subscriberEmail }} <br />

</p>
